{% if errors and not fields %}
  <p>{% for field in hidden_fields %}{{ field }}{% endfor %}</p>
{% endif %}
{% for field, errors in fields %}
  <p{% set classes = field.css_classes() %}{% if classes %} class="{{ classes }}"{% endif %}>
    {% if field.GetLabel() != "" %}{{ field.LabelTag() }}{% endif %}
    {{ field }}
    {% if field.widget.help_text %}
      <span class="helptext"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.widget.help_text|safe }}</span>
    {% endif %}
    {% if loop.last %}
      {% for field in hidden_fields %}{{ field }}{% endfor %}
    {% endif %}
  </p>
{% endfor %}
{% if not fields and not errors %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}