<table>
{% if errors %}
<tr>
    <td colspan="2">
        {% if not fields %}
            {% for field in hidden_fields %}
                {{ field }}
            {% endfor %}
        {% endif %}
    </td>
</tr>
{% endif %}

{% for field in fields %}
<tr{% if field.CssClasses %} class="{{ field.CssClasses }}"{% endif %}>
    <th>
        {% if field.GetLabel() != "" %}
            {{ field.LabelTag() }}
        {% endif %}
    </th>
    <td>
        {{ field.errors }}
        {{ field }}

        {% if field.widget.help_text %}
            <br>
            <span class="helptext"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>
                {{ field.widget.help_text|safe }}
            </span>
        {% endif %}

        {% if forloop.Last %}
            {% for hidden in hidden_fields %}
                {{ hidden }}
            {% endfor %}
        {% endif %}
    </td>
</tr>
{% endfor %}

{% if not fields and not errors %}
    {% for hidden in hidden_fields %}
        {{ hidden }}
    {% endfor %}
{% endif %}

</table>